@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{ box-sizing: border-box;}

body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    width: 90%;
    margin: 20px auto;
    padding: 23px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
}

header{  
    width: 100%;
    position: relative;
}

header img:first-child{
    display: block;
    width: 100%;
    border-radius: 5px;
}

header img:nth-child(2){
    display: none;
    width: 40px;
    position: absolute;
    top: 43%;
    right: 43%;
}

header img:first-child:hover{
    opacity: 0.3;
    cursor: pointer;
}

header:hover{
    background-color: hsl(178, 100%, 50%);
    border-radius: 5px;
}

header:hover img:nth-child(2){ display: block;}

main{ width: 100%;}

h1{ font-size: 1.4rem;}

h1, span{ color: hsl(0, 0%, 100%);}

p{ 
    font-size: 0.98em; 
    color: hsl(215, 51%, 70%);
}

main section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div{
    display: flex;
    align-items: center;
}

div p{
    margin-left: 5px;
    font-size: 0.9em;
}

div img{ vertical-align: middle;}

div:first-child p{ color: hsl(178, 100%, 50%);}

footer{ border-top: 1px solid hsl(215, 32%, 27%)}

footer p{
    display: inline-block;
    margin-left: 10px;
}
footer img{
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    vertical-align: middle;
}

span:hover, h1:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

@media (min-width: 768px){
    article{ width: 45%;}
}

@media (min-width: 1024px){
    article{ width: 35%;}
}

@media (min-width: 1220px){
    article{ width: 25%;}
}

